
                      <!-- partial:../messages/regards.hbs --><!-- partial -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- partial:../footer-info.hbs --><!-- partial -->
  </table>
</body>

</html>