
                    <!-- partial:../messages/regards.hbs --><!-- partial -->                    
                  </td>
                </tr>
              </table>
              <div class="spacer-16"></div>
              <table class="mailFooter bg-action-tertiary br-12" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="p-20 tc lh-copy">
                    <p class="mv0 fs-18 fw7 white">((i18n.common.outro.thankYou))</p>
                    <p class="mt-4 mb0 f6 white">((i18n.common.team)) ((i18n.common.siteName))</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html> 