{{#eq items.0.selectedDeliveryChannel "pickup-in-point"}}
  <table border="0" cellpadding="0" cellspacing="0" class="br-12 bg-base-50">
    <tr>
      <td align="center" class="p-24 fs-15">
        <!-- partial:address-pickup-info.hbs --><!-- partial -->
      </td>
    </tr>
  </table>
{{/eq}}