<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="pr-10">
      <img alt="Truck Icon" border="0" width="40" height="32"
        src="https://((i18n.common.accountName)).vteximg.com.br/arquivos/mail-truck-icon.png">
      </a>
    </td>
    <td>
      <h4 class="ttu lh-copy">((i18n.shipping.delivery))</h4>
    </td>
  </tr>
</table>