<tr>
  <td class="footerContainer">
    <table class="containerTable bg-dark white" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" class="pt-12 px-16 tc fs-0 footerLogo">
          <a href="((i18n.common.siteAddress))" title="((i18n.common.siteName))" target="_blank"
            rel="noopener noreferrer" class="dib">
            <img alt="((i18n.common.siteName))" border="0" width="40" height="40"
              src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-kfc-logo-footer.png" class="db">
          </a>
        </td>
      </tr>
      <tr>
        <td class="pt-24 px-16">
          <table class="footerSocial" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <a href="https://www.facebook.com/KFC.Romania" title="Facebook" target="_blank"
                  rel="noopener noreferrer"><img alt="Facebook" border="0" width="24" height="31"
                    src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-facebook-logo.png"
                    class="db"></a>
              </td>
              <td>
                <a href="https://www.youtube.com/user/kfcro" title="Youtube" target="_blank"
                  rel="noopener noreferrer"><img alt="Youtube" border="0" width="24" height="31"
                    src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-youtube-logo.png"
                    class="db"></a>
              </td>
              <td>
                <a href="https://www.instagram.com/kfcromania" title="Instagram" target="_blank"
                  rel="noopener noreferrer"><img alt="Instagram" border="0" width="24" height="31"
                    src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-instagram-logo.png"
                    class="db"></a>
              </td>
              <td>
                <a href="https://www.tiktok.com/@kfcro" title="TikTok" target="_blank" rel="noopener noreferrer"><img
                    alt="TikTok" border="0" width="24" height="31"
                    src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-tiktok-logo.png"
                    class="db"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="pt-56 px-16">
          <table class="footerMenu" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><a href="((i18n.common.siteAddress))/restaurante" title="Restaurante" target="_blank"
                  rel="noopener noreferrer">Restaurante</a></td>
              <td><a href="((i18n.common.siteAddress))/noutati" title="Noutăți" target="_blank"
                  rel="noopener noreferrer">Noutăți</a>
              </td>
              <td><a href="((i18n.common.siteAddress))/contact" title="Contact" target="_blank"
                  rel="noopener noreferrer">Contact</a>
              </td>
              <td><a href="((i18n.common.siteAddress))/delivery" title="Delivery" target="_blank"
                  rel="noopener noreferrer">Delivery</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table class="containerTable bg-neutral-950" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="py-24 px-16 tc">
          <table class="newsletterDisclaimer" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="white fs-10 lh-title tc">
                Ai primit acest email pentru că ești abonat la newsletterul nostru. Dacă nu mai dorești să primești
                informații și notăți despre produsele și ofertele noastre <a href="((i18n.common.siteAddress))"
                  title="Dezabonare" target="_blank" rel="noopener noreferrer" class="white">dezabonează-te aici.</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>