<tr class="footerSpacer">
  <td>
  </td>
</tr>
<tr>
  <td class="dark-bg">
    <table class="w-95 mw6-5" width="95%" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="pv4 footerInfo light-gray">
          ((i18n.common.footerInfo))
        </td>
      </tr>
    </table>
  </td>
</tr>