<table class="containerTable" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr class="logo">
    <td align="center" class="pa3 bg-action-primary">
      <a href="((i18n.common.siteAddress))" title="((i18n.common.siteName))" target="_blank" rel="noopener noreferrer">
        <img alt="((i18n.common.siteName))" border="0" width="51" height="16"
          src="https://((i18n.common.accountName)).vtexassets.com/arquivos/((i18n.common.logoName)).png" class="db">
      </a>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-white tc fs-0">
      <img src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-stripes-icon.png" border="0"
        width="34" height="12" alt="Red Stripes Icon">
    </td>
  </tr>
</table>