<table class="containerTable bg-white" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr class="logo">
    <td align="center" class="pv4 tc">
      <a href="((i18n.common.siteAddress))" title="((i18n.common.siteName))" target="_blank" rel="noopener noreferrer">
        <img alt="((i18n.common.siteName))" border="0" width="140" height="43"
          src="https://((i18n.common.accountName)).vtexassets.com/arquivos/((i18n.common.logoName)).png">
      </a>
    </td>
  </tr>
</table>