{{#compare items.length "!=" shippingData.logisticsInfo.length}}
  <tr>
    <td class="pa3 bg-light-blue br-12">
      <p class="ma0">((i18n.shipping.manyPackages))</p>
      <p class="ma0">((i18n.shipping.notifications))</p>
    </td>
  </tr>
  <tr>
    <td class="spacer-32"></td>
  </tr>
{{/compare}}