<!-- for each item in package -->
{{#each items}}
  <!-- print SLA info just one time at the top -->
  {{#compare @index '==' 0}}
    <!-- compare order's items to package items -->
    {{#each ../../../../items}}
      {{#eq id ../itemId}}
        <p class="mt2 mb0 fs-15">
          {{#compare ../selectedDeliveryChannel "!=" "pickup-in-point"}}
            {{#if ../deliveryWindow}}
              ((i18n.shipping.scheduled))
            {{else}}
              {{../selectedSla}}
            {{/if}}
          {{/compare}}
        </p>
        <!-- Scheduled shipping -->
        {{#if ../deliveryWindow}}
          <!-- partial:shipping-estimate-scheduled.hbs --><!-- partial -->
        {{else}}
          <!-- show info for estimate range or date -->
          {{#unless ../shippingEstimateDate}}
            <!-- partial:shipping-estimate-range.hbs --><!-- partial -->
          {{else}}
            <!-- partial:shipping-estimate-date.hbs --><!-- partial -->
          {{/unless}}
        {{/if}}
      {{/eq}}
    {{/each}}
  {{/compare}}
  <!-- back to items list -->
{{/each}}