<!-- Available Today -->
<p class="mt1 mb0">
  {{#eq shippingEstimateDays "0"}}
    {{#eq selectedDeliveryChannel "pickup-in-point"}}
      ((i18n.shipping.lowercase.fromToday))
      {{else}}
        ((i18n.shipping.lowercase.today))
    {{/eq}}
    <!-- Available in another day -->
    {{else}}
      <!-- Delivery or Pickup -->
      {{#eq selectedDeliveryChannel "pickup-in-point"}}
        ((i18n.shipping.lowercase.from))
        {{else}}
          ((i18n.shipping.lowercase.inUpTo))
      {{/eq}}
      <!-- partial:shipping-estimate-range-time.hbs --><!-- partial -->
  {{/eq}}
</p>