<h1 class="fs-32 white mailTitle">{{#compare items.length '==' shippingData.logisticsInfo.length}}
    {{#compare shippingData.logisticsInfo.0.selectedDeliveryChannel '==' 'pickup-in-point'}}
      ((i18n.shipping.onePackagePickedUp))
      {{else}}
        ((i18n.shipping.onePackageDelivered))
    {{/compare}}
    <!-- More than 1 package -->
    {{else}}
      {{#compare shippingData.logisticsInfo.0.selectedDeliveryChannel '==' 'pickup-in-point'}}
        ((i18n.shipping.manyPackagesPickedUp))
        {{else}}
          ((i18n.shipping.manyPackagesDelivered))
      {{/compare}}
  {{/compare}}
</h1>
<!-- partial:../messages/order-reference.hbs --><!-- partial -->