<!-- Just 1 package -->
<h1 class="fs-32 white mailTitle">
  {{#compare items.length "==" shippingData.logisticsInfo.length}}
    {{#compare shippingData.logisticsInfo.0.selectedDeliveryChannel "==" "pickup-in-point" }}
      ((i18n.shipping.onePackagePickup))
      {{else}}
        ((i18n.shipping.onePackageDelivery))
    {{/compare}}

    <!-- More than 1 package -->
    {{else}}
      {{#compare shippingData.logisticsInfo.0.selectedDeliveryChannel "==" "pickup-in-point" }}
        ((i18n.shipping.manyPackagesPickup))
        {{else}}
          ((i18n.shipping.manyPackagesDelivery))
      {{/compare}}
  {{/compare}}
</h1>
<!-- partial:../messages/order-reference.hbs --><!-- partial -->