/****** Custom Margin, Padding & Spacer Classes Start ******/

$spaceAmounts: (0, 2, 4, 6, 8, 10, 12, 16, 20, 24, 30, 32, 36, 40, 48, auto);

@each $space in $spaceAmounts {
  @if $space==auto {
    .m-#{$space} {
      margin: #{$space};
    }

    .mx-#{$space} {
      margin-left: #{$space};
      margin-right: #{$space};
    }

    .my-#{$space} {
      margin-top: #{$space};
      margin-bottom: #{$space};
    }

    .ml-#{$space} {
      margin-left: #{$space};
    }

    .mr-#{$space} {
      margin-right: #{$space};
    }

    .mb-#{$space} {
      margin-bottom: #{$space};
    }

    .mt-#{$space} {
      margin-top: #{$space};
    }
  } @else {
    .m-#{$space} {
      margin: #{$space}px;
    }

    .mx-#{$space} {
      margin-left: #{$space}px;
      margin-right: #{$space}px;
    }

    .my-#{$space} {
      margin-top: #{$space}px;
      margin-bottom: #{$space}px;
    }

    .ml-#{$space} {
      margin-left: #{$space}px;
    }

    .mr-#{$space} {
      margin-right: #{$space}px;
    }

    .mb-#{$space} {
      margin-bottom: #{$space}px;
    }

    .mt-#{$space} {
      margin-top: #{$space}px;
    }

    .p-#{$space} {
      padding: #{$space}px;
    }

    .px-#{$space} {
      padding-left: #{$space}px;
      padding-right: #{$space}px;
    }

    .py-#{$space} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }

    .pl-#{$space} {
      padding-left: #{$space}px;
    }

    .pr-#{$space} {
      padding-right: #{$space}px;
    }

    .pb-#{$space} {
      padding-bottom: #{$space}px;
    }

    .pt-#{$space} {
      padding-top: #{$space}px;
    }

    .spacer-#{$space} {
      height: #{$space}px;
      line-height: #{$space}px;
    }
  }
}

/****** Custom Margin, Padding & Spacer Classes End ******/

.mw6-5 {
  max-width: 640px;
}

.action-primary {
  color: $action-primary;
}

.action-tertiary {
  color: $action-tertiary;
}

.base-500 {
  color: $base-500;
}

.bg-action-primary {
  background-color: $action-primary;
}

.bg-action-tertiary {
  background-color: $action-tertiary;
}

.bg-base-50 {
  background-color: $base-50;
}

.base {
  color: $base;
}

.br-8 {
  border-radius: 8px;
}

.br-12 {
  border-radius: 12px;
}

.letter-spacing {
  letter-spacing: 0.08px;
}

.h-letter-spacing {
  letter-spacing: 0.5px;
}

.containerTable {
  width: 90%;
  max-width: 640px;
}

.mainContainer {
  border-radius: 12px;
  border-collapse: separate !important;
  overflow: hidden;
}

.mainContent {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: $base-100;
  border-collapse: separate !important;
}

.footerSpacer > td {
  padding-top: 48px;
}

.mailHeader td {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

td,
p {
  color: $base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

.border-separate {
  border-collapse: separate !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-32 {
  font-size: 32px;
}

.totalsTable td {
  line-height: 26px;
}

.productsTable p,
.refundedProducts p {
  line-height: 18px;
}

.lh-130 {
  line-height: 130%;
}

.mailFooter {
  background-image: url('https://mcxhoreca.vtexassets.com/arquivos/mail-footer-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 75%;
  background-position: left bottom;
}

.fixed-layout {
  table-layout: fixed;
}
