<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<h1 class="fs-32 white mailTitle">((i18n.access.title))</h1>
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<p class="my-0">
  ((i18n.common.hi)), {{to.0.name}}!
</p>
<p class="lh-copy">
  Foloseste codul de mai jos pentru a seta parola contului tau.
</p>
<p class="mb-32 lh-copy">
  Daca consideri ca solicitarea nu a fost initiata de catre tine, te rugam sa ne contactezi la <a
    href="mailto:((i18n.common.emailAddress))" title="((i18n.common.emailAddress))" target="_blank"
    rel="noopener noreferrer" class="fw7 action-primary no-underline">((i18n.common.emailAddress))</a>
</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="br-12 bg-base-50">
  <tr>
    <td align="center" class="px-24 py-12">
      <h1 class="f1 lh-solid base">
        {{aditionalData.accessKey}}
      </h1>
    </td>
  </tr>
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->