<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<img alt="Check Circle" border="0" width="34" height="34"
  src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-check-circle.png" class="checkCircle">
<p class="mt-12 mb-6 fw7 lh-title action-primary">
  ((i18n.common.hi)), {{to.0.name}}!
</p>
<h1 class="f3">((i18n.access.title))</h1>
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<h1 class="mt0 mb4 fw9 tc lh-title action-primary">
  {{aditionalData.accessKey}}
</h1>
<p class="mt0 mb4 tc">
  ((i18n.access.text01))
</p>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->