<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<h1>((i18n.access.title))</h1>
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<p class="my-0 letter-spacing">
  ((i18n.common.hi)), {{to.0.name}}!
</p>
<p class="my-10 letter-spacing">
  ((i18n.access.text01))
</p>
<p class="mt-10 mb-20 letter-spacing">
  ((i18n.access.text02))
</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="br-12 bg-light-blue"
  style="border-collapse: separate !important;" align="center" cellpadding="0" cellspacing="0" border="0" valign="top">
  <tbody>
    <tr>
      <td align="center" class="px-24 py-12">
        <h1 class="f1 lh-solid base">
          {{aditionalData.accessKey}}
        </h1>
      </td>
    </tr>
  </tbody>
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->