<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<!-- partial:partials/titles/title-order-confirmed.hbs --><!-- partial -->
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
  <!-- Intro message -->
  <!-- partial:partials/messages/intro.hbs --><!-- partial -->
  <!-- Payment - not splitted -->
  {{#compare split "!=" true}}
    <tr>
      <td class="pv4 bt b--light-gray">
        <h3 class="mt0 mb-10 fs-18 lh-130 ttu">((i18n.payment.title))</h3>
        {{#each orders.0.paymentData.transactions}}
          <!-- partial:partials/payment.hbs --><!-- partial -->
        {{/each}}
      </td>
    </tr>
  {{/compare}}
  <!-- Order info -->
  {{#each orders}}
    <tr class="orderContainer">
      <td class="pv4 bt b--light-gray">
        <p class="mt0 mb1 f6">((i18n.package.seller)) <span class="b action-tertiary">{{sellers.0.name}}</span></p>
        <h2 class="fs-20 lh-copy">((i18n.common.order)) #7000{{sequence}}</h2>
        <!-- Payment - splitted -->
        {{#compare split "==" true}}
          <h3 class="fs-18 ttu lh-130">((i18n.payment.title))</h3>
          {{#each paymentData.transactions}}
            <!-- partial:partials/payment.hbs --><!-- partial -->
            <p class="dib mt2 mb0 pv1 ph2 bg-light-gray f6">((i18n.payment.pending))</p>
            <div class="spacer-16"></div>
          {{/each}}
        {{/compare}}
        <!-- partial:partials/totals.hbs --><!-- partial -->
        <div class="spacer-32"></div>
        {{#richShippingData shippingData}}
          {{#group logisticsInfo by="addressId"}}
            <!-- Address info -->
            <table class="bg-base-50 br-12" width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="p-24 fs-15">
                  <!-- partial:partials/address-delivery-title.hbs --><!-- partial -->
                  <!-- partial:partials/address-pickup-title.hbs --><!-- partial -->
                </td>
              </tr>
            </table>
            <div class="spacer-16"></div>
            {{#group items by="packageId"}}
              {{#compare item.length ">" 1}}
                <h3 class="ma2">((i18n.package.title))
                  {{#math index "+" 1}}{{/math}}
                </h3>
              {{/compare}}
              <!-- partial:partials/package.hbs --><!-- partial -->
            {{/group}}
          {{/group}}
        {{/richShippingData}}
      </td>
    </tr>
  {{/each}}
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->