<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<h1 class="fs-32 white mailTitle">((i18n.invoice.invoiced))</h1>
<p class="mt1 mb0 lh-copy white">
  Factura pentru comanda <span class="b">#7000{{sequence}}</span>
</p>
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="invoicedTable">
  <tr>
    <td>
      <!-- Alert: mode than 1 invoice -->
      {{#compare items.length '!=' shippingData.logisticsInfo.length}}
        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="bg-base-50 br-12">
          <tr>
            <td class="ph3 pv3 fw7">
              <p class="ma0">((i18n.invoice.manyInvoices))</p>
              <p class="ma0">((i18n.invoice.notifications))</p>
            </td>
          </tr>
        </table>
        <div class="spacer-32"></div>
      {{/compare}}
    </td>
  </tr>
  <tr>
    <td>
      <!-- Intro message: if not inStore anonymous purchase -->
      {{#if clientProfileData.firstName}}
        {{#compare clientProfileData.firstName '!=' 'isAnonymous'}}
          <p class="ma0">
            <!-- partial:partials/messages/hi.hbs --><!-- partial -->
          </p>
          <!-- partial:partials/messages/handling.hbs --><!-- partial -->
        {{/compare}}
      {{/if}}
      <p class="mb0 lh-copy">
        Gasesti factura <a href="((i18n.common.siteAddress))/account#/my-invoices" target="_blank"
          class="action-tertiary">aici</a>
      </p>
    </td>
  </tr>

  <!-- Order info -->
  <tr>
    <td>
      {{#richShippingData shippingData}}
        {{#group logisticsInfo by="addressId"}}
          <h3 class="mv4">
            {{#compare items.length '>' 1}}
              ((i18n.invoice.products))
              {{else}}
                ((i18n.invoice.product))
            {{/compare}}
          </h3>
          {{#group items by="packageId"}}
            <!-- partial:partials/items.hbs --><!-- partial -->
          {{/group}}
        {{/group}}
      {{/richShippingData}}
    </td>
  </tr>
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->