<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<!-- partial:partials/titles/title-order-shipped.hbs --><!-- partial -->
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="shippingTable">
  <!-- partial:partials/many-packages-notification.hbs --><!-- partial -->
  <tr>
    <td>
      <!-- Intro message: All items shipped -->
      {{#compare
        shippingData.logisticsInfo.0.selectedDeliveryChannel
        "=="
        "pickup-in-point"
      }}
        <!-- partial:partials/messages/pickup.hbs --><!-- partial -->
        {{else}}
          <!-- partial:partials/messages/shipping.hbs --><!-- partial -->
      {{/compare}}
    </td>
  </tr>
  <!-- Order info -->
  <tr>
    <td class="pv4">
      {{#richShippingData shippingData}}
        {{#group logisticsInfo by="addessId"}}
          <h3 class="ma0 mb2">((i18n.shipping.address))</h3>
          <!-- Address info -->
          <!-- partial:partials/address-delivery-no-title.hbs --><!-- partial -->
          <!-- partial:partials/address-pickup-no-title.hbs --><!-- partial -->
          <!-- partial:partials/address-pickup-business-hours.hbs --><!-- partial -->
        {{/group}}
      {{/richShippingData}}
    </td>
  </tr>
  <tr>
    <td class="pt4 bt b--light-gray">
      {{#richShippingData shippingData}}
        {{#group logisticsInfo by="addessId"}}
          <h3 class="mt0 mb2">((i18n.order.package))</h3>
          <!-- Address info -->
          {{#group items by="packageId"}}
            {{#compare
              items.0.selectedDeliveryChannel "==" "pickup-in-point"
            }}
              <!-- partial:partials/items.hbs --><!-- partial -->
              {{else}}
                <!-- partial:partials/package.hbs --><!-- partial -->
            {{/compare}}
          {{/group}}
        {{/group}}
      {{/richShippingData}}
    </td>
  </tr>
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->