<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<img alt="Seal Check" border="0" width="34" height="34"
  src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-seal-check.png" class="sealCheck">
<h1 class="f3 mt-18 mb-12">((i18n.smg-form.title))</h1>
<!-- partial:partials/container/mail-middle-smg-form.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<p class="smgFormText mt0 mb-18 tc">
  ((i18n.smg-form.text))
</p>
<table align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" class="tc bg-action-primary br-26">
      <a href="https://" target="_blank" rel="noopener noreferrer"
        class="dib py-16 px-32 bg-action-primary white no-underline ttu br-26">
        <span class="dib">((i18n.smg-form.buttonText))</span>
        <img alt="Arrow Right" border="0" width="20" height="20"
          src="https://((i18n.common.accountName)).vtexassets.com/arquivos/email-arrow-right-icon.png"
          class="arrowRight ml3" style="vertical-align: text-bottom;">
      </a>
    </td>
  </tr>
</table>
<div class="spacer-32"></div>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->