<tr>
  <td>
    <p class="m-0 letter-spacing">
      <!-- partial:hi.hbs --><!-- partial -->
    </p>
    <p class="mt-10 mb-0 letter-spacing">((i18n.order.introMessage01)) <span
        class="fw7 action-primary no-underline">{{orderGroup}}</span>((i18n.order.introMessage02))</p>
  </td>
</tr>