{{#compare items.length "==" shippingData.logisticsInfo.length}}
  <p class="ma0"><!-- partial:hi.hbs --><!-- partial --></p>
  <p class="ma0">
    {{#compare items.length "==" 1}}
      ((i18n.shipping.pickupProduct))
    {{/compare}}
    {{#compare items.length ">" 1}}
      ((i18n.shipping.pickupProducts))
    {{/compare}}
  </p>
{{/compare}}
<!-- Intro message: Just some items shipped -->
{{#compare items.length "!=" shippingData.logisticsInfo.length}}
  <p class="ma0"><!-- partial:hi.hbs --><!-- partial --></p>
  <p class="ma0">
    {{#compare items.length "==" 1}}
      ((i18n.shipping.pickupOneProduct))
    {{/compare}}
    {{#compare items.length ">" 1}}
      ((i18n.shipping.pickupSomeProducts))
    {{/compare}}
  </p>
{{/compare}}