<p class="mt-40">
  ((i18n.common.regards))<br />((i18n.common.team)) ((i18n.common.siteName))
</p>
<p class="mt-24 mb-0 f6" style="line-height: 18px;">((i18n.common.outro.text01)) <a
    href="tel:((i18n.common.phoneNumberText))" title="((i18n.common.phoneNumber))" target="_blank"
    rel="noopener noreferrer" class="fw7 action-primary no-underline nowrap">((i18n.common.phoneNumber))</a>
  ((i18n.common.outro.text02)) <a href="mailto:((i18n.common.emailAddress))" title="((i18n.common.emailAddress))"
    target="_blank" rel="noopener noreferrer"
    class="fw7 action-primary no-underline">((i18n.common.emailAddress))</a>((i18n.common.outro.text03))
</p>