<p class="mt-32 mb0  f6 base-500" style="line-height: 20px;">((i18n.common.outro.text01))
  <a href="mailto:((i18n.common.emailAddress))" title="((i18n.common.emailAddress))" target="_blank"
    rel="noopener noreferrer" class="fw7 action-primary no-underline">((i18n.common.emailAddress))</a>
  ((i18n.common.outro.text02)) <a href="tel:((i18n.common.phoneNumberText))" title="((i18n.common.phoneNumber))"
    target="_blank" rel="noopener noreferrer"
    class="fw7 action-primary no-underline nowrap">((i18n.common.phoneNumber))</a>
  <br /><br />((i18n.common.outro.text03))
</p>